* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.comment__app {
    width: 70vw;
}

.App {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
}